body{
    @import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
    
    @include font-base;
    line-height: 1.6;

    display: grid;
    grid-template-rows: 10em 50vh auto 10em;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-areas: "header header header header"
    "following following following following"
    ". main sidebar ."
    "footer footer footer footer";
}

header{
    grid-area: header;
}

header,
footer{
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title
.footer-title {
    
    font-family: 'Headland One', serif;
    background: blue;
}

.following{
    grid-area: following;
    background: url(https://cdn.wallpapersafari.com/31/2/AvbLiU.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 0;
}

main{
    grid-area:main;
}

aside{
    grid-area: sidebar;
    background: lightblue;
    
}

footer{
    grid-area:footer;
}